body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  color: white;
  background-size: 100%;
  background-attachment: fixed;
  overflow: auto;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  justify-content: center;
}

header{
  margin-top: 2px;
  border-top: 3px solid rgba(255,255,255,0.9);     /*bordes du title*/
  border-bottom: 3px solid rgba(255,255,255,0.9);
  width: 100%;
  color: white;
  height: 60px;
  background-color: rgba(1,1,1,0.6);
}

header nav .button{
  font-family:  Helvetica, Arial, sans-serif;;
  background-color: white; /* This HEX is the color of the button */
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
}

header nav{
  margin-top: 20px;
}

header .title_continent h1{
  margin-top: -40px;
}

div{
  font-family:  Helvetica, Arial, sans-serif;
  text-align: center;
  vertical-align: center;
  display: inline-block;
  margin: 10px; 
  font-size: 20px;  
}


header .title_continent {
  margin-left: 380px;
  width: 50%;
  height: 100%;
  float: left ; 
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
}
